.create-gist-main-container {
    padding: 0rem 8rem;
}

h2 {
    text-align: left;
}

.create-gist-div-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

