@import "../../styles.scss";

.code-container {
    @include display-flex($direction: column, $align: flex-start, $justify: flex-start);
    @include margin(1rem, 0rem);
    border: 1px solid #f0f0f0;
    overflow-wrap: anywhere;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    overflow: hidden;
    width: 100%;
}

.border-bottom {
    display: flex;
    border-bottom: 1px solid #e1e4e8;
    width: 100%;
}

.file-name {
    @include padding(0.5rem, 0.5rem);
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.file-content {
    @include padding(0rem, 0.5rem);
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.file-content p {
    display: flex;
    text-align: left;
    white-space: break-spaces;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}