.table-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%,


}

table {
    width: 100%;
    border-spacing: 0px;
    border: 1px solid lightgray;    
}

th {
    background-color: lightgray;
}

thead tr {

    height: 40px;

}

tbody tr {
    height: 60px;
    cursor: pointer;
}

tbody tr td {
    border-bottom: 1px solid lightgray;
}

.icons-container {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
}