
@import "../../styles.scss"; 

.home-container {
   @include padding(0, 8rem);
}
.gists-view {
    @include display-flex($justify: flex-end);
    @include padding(2rem, 0);
    height: 100%;
}

.separate-icons {
    @include margin(0, 0.5rem);
    border-right: 1px solid black;
}

.gists-view-icon {
    cursor: pointer;
}