.home-container {
    padding: 0rem 8rem;
}
.gists-view {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    padding: 2rem 0rem;
}

.separate-icons {
    border-right: 1px solid black;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.gists-view-icon {
    cursor: pointer;
}