@import "../../styles.scss";

.home-container {
    @include padding(0, 8rem);
}

.gists-view-icon.active {
    background-color: lightgrey;
}

.gists-view {
    @include display-flex($justify: space-between, $align: center);
    @include padding(1rem, 0);
    height: 100%;

    img {
        @include padding(0.5rem, 0.5rem);
        border: 1px solid $table-color;
    }
}

.separate-icons {
    @include margin(0, 0.5rem);
    border-right: 1px solid black;
}

.gists-view-icon {
    cursor: pointer;
}