@import "../../styles.scss";

.my-profile-main-container {
    @include display-flex($direction: row);
    @include padding(2rem, 4rem);
}

.user-image-container {
    @include display-flex($direction: column, $align: center, $justify: flex-start);
    row-gap: 2rem;
    width: 30%;
}

.user-image {
    @include height-width(250px, 250px);
    border-radius: 50%;
}

.github-profile-button {
    @include display-flex($align: center, $justify: center);
    @include padding(0px, 6px);
    @include height-width(40px, 200px);
    background-color: $primary-color;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

.user-gist-container {
    @include display-flex($direction: column, $align: flex-start, $justify: center);
    row-gap: 2rem;
    width: 70%;
}

.user-gist-list {
    @include display-flex($direction: column);
    width: 100%;
    row-gap: 1rem;
}