.nested-container {
    display: flex;
    height: 100%; /* Ensure the nested container takes up full height */
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .image-container {
    overflow: hidden;
    margin-right: 10px;
  }
  
  .image-container img {
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    object-fit: cover; 
  }
  
  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start; 
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .text-container p {
    margin: 0; 
    font-size: 14px;
    padding: 3px;
    color: rgb(122, 122, 122);
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
  }

  .gist-actions {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0rem 0.5rem;
    column-gap: 4px;
  }

  .gist-actions img {
    cursor: pointer;
    width: 18px;
    height: 18px;
    padding: 4px 2px 4px 2px;
  }

  .gist-actions button {
    display: flex;
    align-items: center;
    padding: 0px 6px;
    /* justify-content: center; */
    border: none;
    background-color: rgb(0, 59, 68);
    border-radius: 6px;
    width: 80px;
    height: 40px;
    color: white;
  }

  .gist-star-fork-button {
    margin-right: 0px;
    border-radius: 4px;
    border-right: 1px solid rgb(0, 59, 68);
  }



  .gist-star-fork-container {
    display: flex;
    align-items: center;
    border: 1px solid rgb(0, 59, 68);
    border-radius: 6px,
  }

.gist-actions-span-container {
  display: flex;
  align-items: center;
  padding: 0px 12px;
  height: 40px;
}


  .gist-actions span {
    font-size: 14px;
    margin-top: 4px;
  }
