@import "../../styles.scss";

.nested-container {
  @include height-width(100%, 100%);
  @include display-flex($direction: row, $justify: space-between);
}

.user-gist-info-container {
  @include display-flex($direction: row, $justify: flex-start, $align: flex-start);
  width: 100%;
  column-gap: 10px;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  @include height-width(40px, 40px);
  border-radius: 50%;
  object-fit: cover;
}

.text-container {
  @include display-flex($direction: column, $justify: flex-start, $align: flex-start);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.text-container p {
  margin: 0;
  font-size: 14px;
  padding: 3px;
  color: rgb(122, 122, 122);
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
}

.gist-actions {
  @include display-flex($direction: row, $justify: flex-start, $align: flex-start);
  @include padding(0rem, 0.5rem);
  column-gap: 4px;
}

.gist-actions-ud-container {
  border: 1px solid $primary-color;
  background-color: $primary-color;
  border-radius: 6px;
}

.gist-actions span {
  font-size: 14px;
  margin-top: 4px;
}

.gist-actions img {
  cursor: pointer;
  @include height-width(18px, 18px);
  @include padding(4px, 2px);
}

.gist-actions button {
  @include display-flex($align: center);
  @include padding(0px, 6px);
  @include height-width(40px, 80px);
  background-color: $primary-color;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.gist-star-fork-container {
  @include display-flex($align: center);
  border: 1px solid $primary-color;
  border-radius: 6px;
  cursor: pointer;
}

.gist-star-fork-container span {
  margin-left: 0px;
}

.gist-actions-span-container {
  @include display-flex($align: center);
  @include padding(0px, 12px);
  height: 40px;
}

.gist-actions-span-container span {
  font-size: 18px;
}