body {
  margin: 0;
}

//Variables
$primary-color: rgb(0, 59, 68);
$text-color: rgb(255, 255, 255);
$table-color: lightgray;
$gist-form-border-color: #A3A3A3;
$gist-form-background-color: #FAFAFA;
$gist-form-color: #7A7A7A;

// Mixins
@mixin display-flex($direction: row, $align: normal, $justify: normal) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin padding($paddingY, $paddingX) {
  padding: $paddingY $paddingX;
}

@mixin margin($marginY, $marginX) {
  margin: $marginY $marginX;
}

@mixin remove-style {
  text-decoration: none;
  color: inherit;
}

@mixin text-overflow-wrap($overflow-wrap: break-word, $overflow: hidden, $white-space: break-spaces) {
  overflow-wrap: $overflow-wrap;
  overflow: $overflow;
  white-space: $white-space;
}

@mixin height-width($height, $width) {
  height: $height;
  width: $width;
}