.table-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%,


}

table {
    width: 100%;
    border-spacing: 0px;
    border: 1px solid lightgray;    
}

th {
    background-color: lightgray;
}

thead tr {

    height: 40px;

}

tbody tr {
    height: 60px;
    cursor: pointer;
}

tbody tr td {
    border-bottom: 1px solid lightgray;
}

.icons-container {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
}

.pagination-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: lightgray;
    padding-right: 20px;
    box-sizing: border-box;}

.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pagination li {
    cursor: pointer;
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid lightgray;
  }
  
  .pagination li.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
  
  .pagination li.active {
    background-color: lightgray;
  }

  .pagination img {
    cursor: pointer;
  }

  .pagination span {
    padding: 0px 8px;
  }