@import "../../styles.scss";

.table-container {
  @include display-flex($direction: column, $align: flex-start);
  width: 100%;
}

table {
  border: 1px solid $table-color;
  width: 100%;
  border-spacing: 0px;
}

th {
  background-color: $table-color;
}

thead tr {
  height: 40px;
}

tbody tr {
  height: 60px;
  cursor: pointer;
}

tbody tr td {
  border-bottom: 1px solid $table-color;
}

.icons-container {
  @include display-flex($direction: row);
  column-gap: 16px;
}

.pagination-container {
  @include display-flex($justify: flex-end);
  width: 100%;
  padding-right: 20px;
  box-sizing: border-box;
}

.pagination {
  @include display-flex($align: center, $justify: center);
  list-style: none;
}

.pagination li {
  @include margin(0, 5px);
  @include padding(5px, 10px);
  border: 1px solid $table-color;
  cursor: pointer;
}

.pagination li.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.pagination li.active {
  background-color: $table-color;
}

.pagination img {
  cursor: pointer;
}

.pagination span {
  @include padding(0px, 8px);
}