@import "../../styles.scss";

.gist-form-container {
    @include display-flex($direction: column);
    width: 400px;
}

.gist-form-description-input {
    @include padding(10px, 4px);
    border: 1px solid $gist-form-border-color;
    color: $gist-form-color;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
}

.gist-form-description-input:focus {
    outline-color: grey;
}

.gist-form-filename-container {
    @include display-flex($direction: column, $align: flex-start, $justify: flex-start);
    background-color: $gist-form-background-color;
    border: 1px solid $gist-form-border-color;
    margin-bottom: 1rem;
}

.gist-form-filename-input {
    @include margin(0.5rem, 1rem);
    @include padding(6px, 2px);
    color: $gist-form-color;
    border: 1px solid $gist-form-border-color;
    width: 40%;
    border-radius: 4px;
}

.gist-form-filename-input:focus {
    outline-color: grey;
}

.gist-form-textarea {
    @include height-width(200px, 100%);
    border: 1px solid $gist-form-border-color;
    padding: 0;
}

.gist-form-textarea:focus {
    outline-color: grey;
}

.gist-form-button-container {
    @include display-flex($direction: row, $justify: space-between);
}

.gist-form-filename-delete-container {
    @include display-flex($direction: row)
}

.gist-form-addFile-button {
    @include padding(6px, 24px);
    background-color: $gist-form-background-color;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: black;
}

.gist-form-createGist-button {
    @include padding(6px, 24px);
    background-color: $primary-color;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: white;
}

.gist-form-delete-button {
    border: none;
    background: none;
    outline: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.gist-form-filename-container span {
    color: red;
    width: 100%;
}